body {
    height: 100vh;
    margin: 0;
    background-color: #f59439ee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
}

.parallex-text {
    position: absolute;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 30vw;
    font-style: italic;
    top: 70px;
}

.parallex-text::after {
    content: attr(text);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    color: transparent;
    -webkit-text-stroke: 0.15vw black;
}

img {
    width: 70vw;
    animation: sneakerAnimation 2s cubic-bezier(0.23, 1, 0.5, 1) infinite alternate;
}

@keyframes sneakerAnimation {

    0%,
    10% {
        transform:
            translate(100vw, 0) rotate(15deg);
    }

    90%,
    100% {
        transform: translate(-5vw, -5vw) rotate(-30deg);
    }
}